    /* CSS Reset */
    body {
        font-family: 'Baloo Bhai', cursive;
        color: white;
        margin: 0px;
        padding: 0px;
        background-color: beige;
        /* background: url(Modi_narendra_modi_India_Prime_Minister-1588429.jpg!d.jpeg); */
    }

    
