    /* CSS Reset */
    form {
        font-family: 'Baloo Bhai', cursive;
        color: rgb(13, 12, 12);
        margin: 0px;
        padding: 0px;
        background-color: rgb(219, 219, 54);
        /* background: url(Modi_narendra_modi_India_Prime_Minister-1588429.jpg!d.jpeg); */
    }

    
